@model GerenciadorJogos.WebApp.Models.EmprestimoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do empréstimo</h2>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amigo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amigo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jogo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>
        <dd>
            @Model.DataEmprestimo.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>

        @if (Model.DataDevolucao.HasValue)
        {
            <dd>
                @Model.DataDevolucao.Value.ToShortDateString()
            </dd>
        }
        else
        {
            <dd>
                Sabe-se lá quando...
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { idAmigo = Model.Amigo.AmigoId, idJogo = Model.Jogo.JogoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
