@model IEnumerable<GerenciadorJogos.WebApp.Models.EmprestimoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empréstimos existentes</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amigo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jogo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amigo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo)
            </td>
            @if (item.DataDevolucao.HasValue)
            {
                <td>@item.DataDevolucao.Value</td>
            }
            else
            {
                <td>Sabe Deus quando...</td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { idAmigo = item.AmigoId, idJogo = item.JogoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmprestimoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmprestimoId })
            </td>
        </tr>
    }

</table>
