@model GerenciadorJogos.WebApp.Models.JogoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apagar Jogo</h2>
<hr />
<h4>Tem certeza que deseja apagar o jogo @Model.Nome?</h4>
<div>    
    <hr />
    @if (Model.ListaEmprestimos.Any())
    {
        <div class="alert alert-danger">
            <b>Ops!</b> Parece que o jogo ainda esta empresado há <a id="detalharAmigo" class="alert-link" href="#">alguem.</a>
        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plataforma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plataforma)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.ListaEmprestimos.Any())
            {
                <input type="submit" value="Apagar" class="btn btn-default" disabled="disabled" />
            }
            else
            {
                <input type="submit" value="Apagar" class="btn btn-default" />
            }
             | @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
<div id="containerModal"></div>
@section scripts{
    <script type="text/javascript">
        var app = app || {};
        app.Urls = app.Urls || {};
        app.Urls.urlBase = '@Url.Content("~")';
        app.Urls.urlDetalharAmigoJogo = '@Url.Action("DetalharAmigoJogo","Jogos")';

        var modelJogo = {
            JogoId: '@Model.JogoId'
        };

    </script>
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/gerenciadorJogos.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/Jogo/jogo.js")"></script>
}
