@model GerenciadorJogos.WebApp.Models.JogoViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Jogo</h2>

<div>
    <h4>Abaixo estão listados os detalhes do jogo @Model.Nome.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plataforma)
        </dt>        
        <dd>
            @Html.DisplayFor(model => model.Plataforma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.JogoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
