@model IEnumerable<GerenciadorJogos.WebApp.Models.JogoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jogos Cadastrados</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plataforma)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.JogoId }) |
                @Html.ActionLink("Detalhar", "Details", new { id = item.JogoId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.JogoId })
            </td>
        </tr>
    }

</table>
